.sop-viewport {
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px 20px 27px 10px;
    width: 100%;
    color: darkgray;
}

.sop-viewport a, .sop-viewport a:visited {
    color: inherit !important;
}

.sop-container {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.sop-banner .logo {
    float: left;
    color: #400090;
    font-size: 1.6em;
}

.sop-banner .more {
    float: right;
    line-height: 2em;
}

.sop-banner {
    margin-bottom: 6px;
    height: 24px;
}

.sop-banner:after {
    content: '';
    display: table-cell;
    clear: both;
    overflow: auto;
}

.sop-item {
    -webkit-line-clamp: 1;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0;
    vertical-align: top;
    width: 140px;
}

.sop-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 4px;
}

.sop-info {
    width: 100%;
    padding: 0;
    margin: 0;
}

.sop-info li {
    display: inline-block;
    margin-right: 1em;
}
